@import url('https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");


/* ************************Body********************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* **************************Navbar*********************** */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    box-shadow: 0px 0px 5px grey;
}

.logo {
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: black;
}

.logo span{
    color: royalblue;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0px 15px;
}

nav ul li a{
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 600;
}

nav ul li a:hover{
    text-decoration: underline;
    color: royalblue;
    transition: all ease-in-out 0.2s;
}

.heading{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    margin: 30px 10px;
    text-align: center;
}

.heading span{
    color: royalblue;
}

/* *****************************Heading and Search*************************** */
h1{
    font-size: 36px;
    text-align: center;
    margin: 40px 0px;
    font-family: 'Ubuntu', sans-serif;
}

h1 span{
    color: royalblue;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-input{
    width: 60%;
    max-width: 500px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
}

#search-btn{
    font-size: 18px;
    padding: 10px;
    background-color: #138065;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    cursor: pointer;
}

#search-btn:hover{
    background-color: #0e6d55;
    transition: all ease-in-out .3s;
    transform: scale(1.1);
}

/* *****************************Main Container************************** */
main{
    min-height: 80vh;
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
}

#result{
    margin: 50px 0px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.movie-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px 40px 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.619);
}

.movie-image{
    padding: 10px 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.movie-image img{
    border-radius: 10px;
}

.movie-details{
    padding: 10px 30px;
}

.movie-details h3, p{
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
    color: royalblue;
}

.movie-details h2{
    color: royalblue;
    padding: 10px 5px;
    margin: 10px 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: lightyellow;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
}

.movie-details h2 span{
    color: black;
}

.movie-details h3 span, h4 span{
    color: royalblue;
    font-weight: 700;
}

.movie-details h3{
    color: rgba(255, 68, 0, 0.913);
    font-weight: 400;
}

.movie-details h4{
    color: black;
    font-weight: 400;
    line-height: 25px;
}

/***********************Footer***********************/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px 0px;
    box-shadow: 0px 0px 5px grey;
}

footer h3, h4{
    font-family: "Noto Sans", sans-serif;
    color: royalblue;
}

footer p{
    color: rgba(0, 0, 0, 0.9);
    font-family: "Noto Sans", sans-serif;
    margin: 5px 0px;
    padding: 0;
}

footer ul li a{
    color: rgba(0, 0, 0, 0.9);
    font-family: "Noto Sans", sans-serif;
}

footer ul li{
    margin: 5px 0px;
}

footer ul li a:hover{
    text-decoration: underline;
}





/* *************************Responsive**************************** */
@media screen and (max-width: 1200px){
    main{
        margin: 0px;
    }
}

@media screen and (max-width: 950px){
    .movie-container{
        margin: 40px 10px;
    }
}

@media screen and (max-width: 750px){
    .movie-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 20px;
    }
    footer{
        flex-wrap: wrap;
    }
    footer ul{
        margin: 0px 10px;
    }
}


@media screen and (max-width: 500px){
    nav{
        flex-direction: column;
    }
    nav .logo{
        margin-bottom: 10px;
    }
    .movie-container{
        margin: 30px 0px;
        padding: 10px 0px;
    }
    .movie-details{
        padding: 10px;
    }
    .movie-image{
        padding: 10px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer ul{
        margin: 0;
        padding: 0;
    }
    footer div, ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
}

@media screen and (max-width:400px) {
    h1{
        font-size: 30px;
    }
}